<a href="https://colab.research.google.com/github/OlufunkeTee/Hamoye/blob/main/hapyintro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing needed libraries

In [68]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib 
import seaborn as sns

Using matplotlib backend: agg

In [69]:
hd = pd.read_csv('HDSCDataset.csv')

In [4]:
hd.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [5]:
hd.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [71]:
print((180/29523)* 100)

0.609694136774718

In [33]:
hd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [72]:
ftcp = hd.groupby('fuel_type_code_pudl')

In [18]:
hd.groupby('fuel_type_code_pudl')['fuel_type_code_pudl'].count()

fuel_type_code_pudl
coal        8547
gas        11486
nuclear      818
oil         8064
other        167
waste        441
Name: fuel_type_code_pudl, dtype: int64

In [73]:
#lowest average fuel cost per unit burned
ftcp.describe().transpose()[['coal', 'gas', 'nuclear', 'oil', 'other', 'waste']]

fuel_type_code_pudl                         coal  ...          waste
utility_id_ferc1             count  8.547000e+03  ...     441.000000
                             mean   1.156375e+02  ...     154.253968
                             std    7.285933e+01  ...      53.367073
                             min    1.000000e+00  ...       9.000000
                             25%    5.100000e+01  ...     121.000000
                             50%    1.220000e+02  ...     182.000000
                             75%    1.740000e+02  ...     194.000000
                             max    5.140000e+02  ...     432.000000
report_year                  count  8.547000e+03  ...     441.000000
                             mean   2.004623e+03  ...    2005.650794
                             std    7.137389e+00  ...       7.460231
                             min    1.994000e+03  ...    1994.000000
                             25%    1.998000e+03  ...    1998.000000
                             50%    2.004000e+03  ...    2006.000000
                             75%    2.011000e+03  ...    2012.000000
                             max    2.018000e+03  ...    2018.000000
fuel_qty_burned              count  8.547000e+03  ...     441.000000
                             mean   1.903473e+06  ...  117191.362812
                             std    7.206434e+06  ...  177792.638360
                             min    3.000000e+00  ...       7.000000
                             25%    4.599130e+05  ...    3136.000000
                             50%    1.018766e+06  ...   15636.000000
                             75%    2.104158e+06  ...  186916.000000
                             max    5.558942e+08  ...  799499.000000
fuel_mmbtu_per_unit          count  8.547000e+03  ...     441.000000
                             mean   2.076278e+01  ...       0.341163
                             std    3.557467e+00  ...       1.646289
                             min    1.016800e+01  ...       0.000009
                             25%    1.740800e+01  ...       0.005508
                             50%    2.125000e+01  ...       0.012315
                             75%    2.414100e+01  ...       0.015055
                             max    2.892639e+01  ...       8.700000
fuel_cost_per_unit_burned    count  8.547000e+03  ...     441.000000
                             mean   6.742183e+01  ...      19.518122
                             std    9.437714e+02  ...      29.988017
                             min    0.000000e+00  ...    -276.080000
                             25%    2.395850e+01  ...      10.335000
                             50%    3.331800e+01  ...      21.933000
                             75%    4.466800e+01  ...      32.650000
                             max    4.403332e+04  ...     132.291000
fuel_cost_per_unit_delivered count  8.547000e+03  ...     441.000000
                             mean   1.169511e+02  ...      18.413052
                             std    4.043733e+03  ...      27.966921
                             min   -4.072500e+01  ...    -174.670000
                             25%    2.174000e+01  ...       7.240000
                             50%    3.140700e+01  ...      21.560000
                             75%    4.338050e+01  ...      31.330000
                             max    2.706040e+05  ...     121.020000
fuel_cost_per_mmbtu          count  8.547000e+03  ...     441.000000
                             mean   1.787190e+00  ...     822.709937
                             std    8.024193e-01  ...   17108.166064
                             min    5.000000e-01  ...     -41.501000
                             25%    1.210000e+00  ...       0.692000
                             50%    1.586000e+00  ...       1.139000
                             75%    2.163000e+00  ...       2.170000
                             max    6.895000e+00  ...  359278.000000

[56 rows x 6 columns]

In [52]:
hd.describe().transpose()

                                count          mean  ...          75%           max
utility_id_ferc1              29523.0  1.186018e+02  ...      176.000  5.140000e+02
report_year                   29523.0  2.005806e+03  ...     2012.000  2.018000e+03
fuel_qty_burned               29523.0  2.622119e+06  ...  1424034.000  5.558942e+08
fuel_mmbtu_per_unit           29523.0  8.492111e+00  ...       17.006  3.412600e+02
fuel_cost_per_unit_burned     29523.0  2.086490e+02  ...       47.113  1.393580e+05
fuel_cost_per_unit_delivered  29523.0  9.175704e+02  ...       42.137  7.964521e+06
fuel_cost_per_mmbtu           29523.0  1.930435e+01  ...        7.745  3.592780e+05

[7 rows x 8 columns]

In [7]:
hd.corr()

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
report_year                           0.093323  ...             0.010261
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000

[7 rows x 7 columns]

In [36]:
print(hd.skew())

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [37]:
print(hd.kurtosis())

utility_id_ferc1                    1.088432
report_year                        -1.145656
fuel_qty_burned                   651.369450
fuel_mmbtu_per_unit                55.595695
fuel_cost_per_unit_burned         485.255851
fuel_cost_per_unit_delivered    11765.054226
fuel_cost_per_mmbtu             29489.132594
dtype: float64

In [11]:
hd.groupby('report_year')['report_year'].count()

report_year
1994    1235
1995    1201
1996    1088
1997    1094
1998    1107
1999    1050
2000    1373
2001    1356
2002    1205
2003    1211
2004    1192
2005    1269
2006    1243
2007    1264
2008    1228
2009    1222
2010    1261
2011    1240
2012    1243
2013    1199
2014    1171
2015    1093
2016    1034
2017     993
2018     951
Name: report_year, dtype: int64

In [23]:
hd.groupby('report_year')['report_year'].nunique().sum()

25

In [22]:
hd.groupby('fuel_type_code_pudl')['fuel_type_code_pudl'].nunique().sum()

6

In [60]:
hd.groupby('fuel_cost_per_unit_burned').mean().value_counts().head()

utility_id_ferc1  report_year  fuel_qty_burned  fuel_mmbtu_per_unit  fuel_cost_per_unit_delivered  fuel_cost_per_mmbtu
514.0             2018.0       127328.0         16.856               37.233                        2.030                  1
75.0              1996.0       104078.0         22.808               26.270                        1.119                  1
                               440731.0         22.640               29.500                        1.298                  1
                               577621.0         16.918               11.830                        0.701                  1
                               644353.0         17.378               38.240                        2.336                  1
dtype: int64

In [74]:
ryr = hd.groupby(['report_year', 'fuel_cost_per_unit_delivered'])['report_year'].mean()
ryrm = max(ryr)
print(n)

2018